# CMake
build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# clangd / LSP / Neovim
.cache/
.clangd/
.clangd-cache/
.clang-format
.clang-tidy

# Arquivos para compilação
*.o
*.obj
*.exe
*.dll
*.so
*.lib
*.a
*.pdb

# Arquivos de editores/IDEs
.vscode/
.idea/
*.sln
*.vcxproj*
*.user

# Output
/bin/

# Comandos de compilação utilizados pelo clang e determinados pelo CMake
compile_commands.json

# Logs
*.log
